
.navbar{

    font-size: x-large;
    font-weight: 500;
}
.carousel-inner img{
    height: 100vh;
}
@media only screen and (max-width:1024px) {
    .carousel-inner img{
        height: 40vh;
    }
    body{
        overflow: hidden;
    }
    
}